body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex-grow: 1;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    top: 0;
    width: 100%;
    padding: 10px 0;
}

footer {
    background-color: #333;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

section {
    padding: 2rem;
}

.job {
    margin-bottom: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.5rem;
}

/* Add this to your styles.css file */

#profile-picture {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    /* Adjust the height as needed */
}

/* Add this to your styles.css file */

.slider {
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    /* Hide overflow if images are larger */
}

/* Add this to your styles.css file */

.slide img {
    max-width: 100%;
    height: auto;
}

